<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .main {
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: #d5cbbd;
    padding: 500px;
    }
    form > label {
        display: inline-block;
        width: 120px;
    }

    form > input {
        padding: 4px;
        margin-bottom: 4px;
    }

    </style>
</head>
<body>
<th:block th:replace="fragments/head :: headFragment('head')"></th:block>
<th:block th:class="main" layout:fragment="content" >

    <h2>
        Member
        <span th:if="${formTitle} == 'Modification'" th:text="${formTitle}"></span>
        <span th:unless="${formTitle} == 'Modification'" th:text="${formTitle}"></span>
        Form
    </h2>

    <!-- form action="/jpa/memberWrite" method="POST" id="memberWriteForm" -->
    <form th:action="@{/jpa/memberWrite}" th:object="${memberDTO}" method="POST" id="memberWriteForm">
        <input type="hidden" name="num" th:field="*{num}">

        <label for="name">Name</label>
        <input type="text" id="name" name="name" th:field="*{name}">
        <br>

        <label for="id">ID</label>
        <input type="text" id="id" name="id" th:field="*{id}">
        <br>

        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" th:field="*{phone}">
        <br>

        <label for="age">Age</label>
        <input type="text" id="age" name="age" th:field="*{age}">
        <br>

    </form>

    <!-- button type="submit" form="memberWriteForm">회원등록</button -->
    <div th:switch="${formTitle}">
        <button type="submit" form="memberWriteForm" th:case="Registration">회원등록</button>
        <button type="submit" form="memberWriteForm" th:case="Modification">회원수정</button>
    </div>

    <th:block th:replace="fragments/footer :: footerFragment"></th:block>

</body>
</html>