<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .main {
            -ms-flex: 70%; /* IE10 */
            flex: 70%;
            background-color: #d5cbbd;
            padding: 20px;
        }
    </style>

</head>
<body>
<div>
    <th:block th:replace="fragments/head :: headFragment('head')"></th:block>
    <th:block layout:fragment="content">
        <div class="main">
        </div>
    </th:block>
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>

</div>
</body>
</html>