<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>

</head>
<body>
<div>
    <th:block th:replace="fragments/head :: headFragment('head')"></th:block>
    <th:block layout:fragment="content">
        <div class="main">
            <h2>TITLE selectOne</h2>
        </div>
    </th:block>
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>

</div>
</body>
</html>